/* For information on how to create your own theme, please see:
http://ionicframework.com/docs/theming/ */

/* built using: https://ionicframework.com/docs/theming/color-generator */
:root {
  --ion-color-primary: #00e6b8;
  --ion-color-primary-rgb: 0, 230, 184;
  --ion-color-primary-contrast: #000000;
  --ion-color-primary-contrast-rgb: 0, 0, 0;
  --ion-color-primary-shade: #00caa2;
  --ion-color-primary-tint: #1ae9bf;

  --ion-color-secondary: #00c79f;
  --ion-color-secondary-rgb: 0, 199, 159;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0, 0, 0;
  --ion-color-secondary-shade: #00af8c;
  --ion-color-secondary-tint: #1acda9;

  --ion-color-tertiary: #4dff91;
  --ion-color-tertiary-rgb: 77, 255, 145;
  --ion-color-tertiary-contrast: #000000;
  --ion-color-tertiary-contrast-rgb: 0, 0, 0;
  --ion-color-tertiary-shade: #44e080;
  --ion-color-tertiary-tint: #5fff9c;

  --ion-color-success: #00a82d;
  --ion-color-success-rgb: 0, 168, 45;
  --ion-color-success-contrast: whitesmoke;
  --ion-color-success-contrast-rgb: 0, 0, 0;
  --ion-color-success-shade: #009428;
  --ion-color-success-tint: #1ab142;

  --ion-color-warning: #ffbe33;
  --ion-color-warning-rgb: 255, 190, 51;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0a72d;
  --ion-color-warning-tint: #ffc547;

  --ion-color-danger: #ff4757;
  --ion-color-danger-rgb: 255, 71, 87;
  --ion-color-danger-contrast: #000000;
  --ion-color-danger-contrast-rgb: 0, 0, 0;
  --ion-color-danger-shade: #e03e4d;
  --ion-color-danger-tint: #ff5968;

  --ion-color-light: #f6f8fc;
  --ion-color-light-rgb: 246, 248, 252;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d8dade;
  --ion-color-light-tint: #f7f9fc;

  --ion-color-medium: #5f5f5f;
  --ion-color-medium-rgb: 95, 95, 95;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #545454;
  --ion-color-medium-tint: #6f6f6f;

  --ion-color-dark: #2f2f2f;
  --ion-color-dark-rgb: 47, 47, 47;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #292929;
  --ion-color-dark-tint: #444444;
}

.segment-button-checked::part(indicator-background) {
  border-bottom: 4px solid var(--ion-color-primary-shade);
}

.toast-bottom {
  transform: translateY(-50px);
}

.modal-fullscreen::part(content) {
  width: 100vw;
  height: 100vh;
}

.skeleton-text-animated {
  animation-duration: 1.75s;
}
