:root {
  --ion-background-color: rgb(255, 250, 250);
  --ion-background-color-rgb: 255, 250, 250;

  --ion-color-primary: #ed60a0;
  --ion-color-primary-rgb: 237, 96, 160;
  --ion-color-primary-contrast: #000000;
  --ion-color-primary-contrast-rgb: 0, 0, 0;
  --ion-color-primary-shade: #d1548d;
  --ion-color-primary-tint: #ef70aa;

  --ion-color-secondary: #f98bbc;
  --ion-color-secondary-rgb: 249, 139, 188;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0, 0, 0;
  --ion-color-secondary-shade: #db7aa5;
  --ion-color-secondary-tint: #fa97c3;

  --ion-color-tertiary: #57b0f4;
  --ion-color-tertiary-rgb: 87, 176, 244;
  --ion-color-tertiary-contrast: #000000;
  --ion-color-tertiary-contrast-rgb: 0, 0, 0;
  --ion-color-tertiary-shade: #4d9bd7;
  --ion-color-tertiary-tint: #68b8f5;

  --ion-color-success: #2dd55b;
  --ion-color-success-rgb: 45, 213, 91;
  --ion-color-success-contrast: #000000;
  --ion-color-success-contrast-rgb: 0, 0, 0;
  --ion-color-success-shade: #28bb50;
  --ion-color-success-tint: #42d96b;

  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255, 196, 9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;

  --ion-color-danger: #c5000f;
  --ion-color-danger-rgb: 197, 0, 15;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #ad000d;
  --ion-color-danger-tint: #cb1a27;

  --ion-color-light: #f6f8fc;
  --ion-color-light-rgb: 246, 248, 252;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d8dade;
  --ion-color-light-tint: #f7f9fc;

  --ion-color-medium: #5f5f5f;
  --ion-color-medium-rgb: 95, 95, 95;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #545454;
  --ion-color-medium-tint: #6f6f6f;

  --ion-color-dark: #2f2f2f;
  --ion-color-dark-rgb: 47, 47, 47;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #292929;
  --ion-color-dark-tint: #444444;
}

/* ============ love =============== */
:root {
  --ion-color-love: #ff4252;
  --ion-color-love-rgb: 255, 66, 82;
  --ion-color-love-contrast: #000000;
  --ion-color-love-contrast-rgb: 0, 0, 0;
  --ion-color-love-shade: #e03a48;
  --ion-color-love-tint: #ff5563;
}

.ion-color-love {
  --ion-color-base: var(--ion-color-love);
  --ion-color-base-rgb: var(--ion-color-love-rgb);
  --ion-color-contrast: var(--ion-color-love-contrast);
  --ion-color-contrast-rgb: var(--ion-color-love-contrast-rgb);
  --ion-color-shade: var(--ion-color-love-shade);
  --ion-color-tint: var(--ion-color-love-tint);
}

/* ============ pending =============== */
:root {
	--ion-color-pending: #2ec2db;
	--ion-color-pending-rgb: 46,194,219;
	--ion-color-pending-contrast: #000000;
	--ion-color-pending-contrast-rgb: 0,0,0;
	--ion-color-pending-shade: #28abc1;
	--ion-color-pending-tint: #43c8df;
}

.ion-color-pending {
	--ion-color-base: var(--ion-color-pending);
	--ion-color-base-rgb: var(--ion-color-pending-rgb);
	--ion-color-contrast: var(--ion-color-pending-contrast);
	--ion-color-contrast-rgb: var(--ion-color-pending-contrast-rgb);
	--ion-color-shade: var(--ion-color-pending-shade);
	--ion-color-tint: var(--ion-color-pending-tint);
}

/* ============ owned =============== */

:root {
  --ion-color-owned: #38c776;
  --ion-color-owned-rgb: 56, 199, 118;
  --ion-color-owned-contrast: #000000;
  --ion-color-owned-contrast-rgb: 0, 0, 0;
  --ion-color-owned-shade: #31af68;
  --ion-color-owned-tint: #4ccd84;
}

.ion-color-owned {
  --ion-color-base: var(--ion-color-owned);
  --ion-color-base-rgb: var(--ion-color-owned-rgb);
  --ion-color-contrast: var(--ion-color-owned-contrast);
  --ion-color-contrast-rgb: var(--ion-color-owned-contrast-rgb);
  --ion-color-shade: var(--ion-color-owned-shade);
  --ion-color-tint: var(--ion-color-owned-tint);
}
